<div class="berita container">
  <div class="data-berita">
    <div class="title">
      <h4>BERITA</h4>
    </div>
    <div class="content-berita">
      <div id="berita" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <% @news.each_slice(3).with_index do |news, index| %>
            <div class="item <%= 'active' if index == 0  %>">
              <% news.each do |_news| %>
                <div class="berita-satu col-md-3">
                  <div class="title_berita">
                    <h4 class="xcx"><%= _news.title %></h4>
                  </div>
                  <div class="nase">
                    <p class="isp"><%= truncate(_news.content, length: 140) %></p>
                    <a href="#" data-toggle="modal" class="read_more" data-target="#berita_<%= _news.id %>">READ MORE</a>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="clear"></div>
          <% end %>
        </div>
        <a class="left carousel-control" href="#berita" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#berita" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="header_texture _texture">
  <h1 class="o-title-flex -texture">
    <span class="c-char">R</span>
    <span class="c-char">U</span>
    <span class="c-char">A</span>
    <span class="c-char">N</span>
    <span class="c-char">G</span>
    <span class="c-char">.</span>
    <span class="c-char">I</span>
    <span class="c-char">D</span>
    <span class="c-char">E</span>
  </h1>
</div>
<% @news.each do |berita| %>
  <div class="modal fade mdl_gal" id="berita_<%= berita.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog berita-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close"></i></button>
          <h4 class="modal-title" id="myModalLabel"><%= berita.title %></h4>
        </div>
        <div class="modal-body">
          <div class="description">
            <p class="ba_">
            <span><%= berita.content %></span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
