<%= title "What Client Says" %>
<style>
.header_texture {
  padding-top: 5.5em;
  -webkit-transition: all .11 ease-in-out;
  -moz-transition: all .11 ease-in-out;
  -o-transition: all .11 ease-in-out;
  transition: all .11 ease-in-out;
}
</style>
<div class="testimoni container">
  <div class="slider carousel slide" data-ride="carousel" id="slid">
    <div class="carousel-inner">
      <% @testimonis.each_with_index do |slider, index| %>
        <div class="item slidex <%= 'active' if index==0 %>">
          <div class="slide__mover">
            <div class="zoomer flex-center">
              <img class="zoomer__image" src="" alt="" />
              <div class="preview">
                <div class="col-md-8 left_">
                  <%= image_tag slider.avatar_url(:thumbl) %>
                  <div class="zoomer__area zoomer__area--size-<%= index + 1 %>"></div>
                </div>
                <div class="col-md-4 right_">
                  <div class="content_sli">
                    <p class="sx">"<%= slider.content %>"</p>
                    <p class="_na"><%= slider.name %></p>
                    <p class="bxc"><%= slider.occupation %></p>
                  </div>
                </div>
                <div class="clear"></div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <nav class="slider__nav">
      <a class="left carousel-control button button--nav-prev" href="#slid" role="button" data-slide="prev">
        <span class="fa fa-long-arrow-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control button button--nav-next" href="#slid" role="button" data-slide="next">
        <span class="fa fa-long-arrow-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </nav>
  </div>
</div>
<div class="header_texture _texture">
  <h1 class="o-title-flex -texture">
    <span class="c-char">T</span>
    <span class="c-char">E</span>
    <span class="c-char">S</span>
    <span class="c-char">T</span>
    <span class="c-char">I</span>
    <span class="c-char">M</span>
    <span class="c-char">O</span>
    <span class="c-char">N</span>
    <span class="c-char">I</span>
  </h1>
</div>
