<!DOCTYPE html>
<html>
<head>
  <title>
    <%= if content_for?(:title) then yield(:title) end %>
    ~ Ruang Ide
  </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Domine:400,700" rel="stylesheet">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <canvas id="canvas" class="noise"></canvas>
  <div class="why_always_me" style="background-image: url(<%= Slider.all.order('created_at desc').limit(1).map{ |slider| slider.slider }.join("") %>)">
    <div class="gras">
      <div class="make_me_streess"></div>
    </div>
    <div class="i_dont_know">
      <div class="container-fluid">
        <button class="menu_bar" id="mnu_bar">
          <div class="c-har">
            <div class="ch-h -right"></div>
            <div class="ch-h -left"></div>
            <span class="bar-top"></span>
            <span class="bar-middle"></span>
            <span class="bar-bottom"></span>
          </div>
        </button>
        <div class="nav_slide">
          <div class="first_nav">
            <div class="container">
              <ul class="rise-up">
                <li class="home_"><a href="/" data-turbolinks="false"><span>RUANG IDE</span></a></li>
                <li class="ttk_"><a href="/about" data-turbolinks="false"><span>TENTANG KAMI</span></a></li>
                <li class="event_"><a href="/event" data-turbolinks="false"><span>GALERI</span></a></li>
                <li class="testimn_"><a href="/client-says" data-turbolinks="false"><span>TESTIMONI</span></a></li>
                <li class="contact_"><a href="/contact" data-turbolinks="false"><span>HUBUNGI KAMI</span></a></li>
              </ul>
            </div>
          </div>
        </div>
        <%= yield %>
      </div>    
    </div>
  </div>
  <div class="footer">
    <div class="container-fluid">
      <ul class="list-inline pull-right sosmed">
        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      </ul>
      <ul class="pull-left copyright">
        <li>Copyright 2016 © Ruang Ide All rights reserved</li>
      </ul>
      <div class="clear"></div>
    </div>
  </div>
</body>
</html>
